html,
body {
  position: relative;
}

body {
  /* background: #eee; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(12, 15, 18);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  position: absolute;
  display: absolute;
  width: 57%;
  height: 78%;
  object-fit: cover;
  top: 11%;
  left: 21%;
}